<?xml version="1.0" encoding="UTF-8"?>
<!-- default-autowire="byName" 根据名字自动装配 -->
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 注解支持 -->
	<context:annotation-config></context:annotation-config>
	<!-- 注解扫描 -->
	<context:component-scan base-package="cn.yxl.bx"></context:component-scan>

	<!-- 配置数据源 -->
	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/baixian?characterEncoding=utf8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>

	<!-- 配置sqlSession工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis_cfg.xml"></property>
	</bean>

	<!--SSM DAO基于接口的方式二（数据源配置不能引入外部的文件（EL表达式）） -->
	<bean id="parser" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<property name="basePackage" value="cn.yxl.bx.dao"></property>
	</bean>

	<!-- 事务处理开始 -->
	<!--事务处理对象 -->
	<bean id=""
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />



	<mvc:resources location="/front/css/" mapping="/front/css/**"></mvc:resources>
	<mvc:resources location="/front/files/" mapping="/front/files/**"></mvc:resources>
	<mvc:resources location="/front/fonts/" mapping="/front/fonts/**"></mvc:resources>
	<mvc:resources location="/fronts/images/" mapping="/fronts/images/**"></mvc:resources>
	<mvc:resources location="/fronts/js/" mapping="/fronts/js/**"></mvc:resources>
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<mvc:default-servlet-handler />
	<!-- 视图处理器 -->
	<bean id="is"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 图片上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSizePerFile" value="102400000"></property>
	</bean>

</beans>

